html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-size: 75%;
    color: #333;
    background: white;
    font-family: "Helvetica Neue", Verdana, Helvetica, sans-serif;
}

body {
    line-height: 1.5;
}

a:focus, a:hover {
    color: black;
    text-decoration: underline;
}

a {
    color: #406EA1;
    text-decoration: none;
}

a.selected {
    font-style: italic;
    text-decoration: underline;
    color: #999;
}

h3, h4, h5, h6 {
    font-family: Arial, serif;
    color: #4D4D4D;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

p {
    margin: 0 0 1.5em;
}

hr {
    background: #EEE;
    color: #EEE;
    clear: both;
    float: none;
    width: 100%;
    height: .1em;
    /*    margin: 0 0 1.45em;*/
    border: none;
}

.search {
    width: 990px;
    margin: 1.5em auto;
    margin-bottom: 0px;
}

#home {
    height: 100%;
}

.logo_img {
    float: left;
}


.logo_txt {
    float: left;
    color: #406EA1;
    font-size: 2.3em;
    margin-top: 4px;
    font-weight: bold;
}

#searchText {
    width: 755 px;
    float: left;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #646464 #969696 #969696;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #969696;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    height: 24px;
    padding: 3px 6px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#searchBtn {
    font-size: 1.2em;
    height: 32px;
    padding: 3px 6px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}


.container {
    width: 990px;
    margin: 0 auto;
    margin-top: 1.0em;
}

.upper_line {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 225, 249);
    padding-top: 1em;
}

.left_panel, #home {
    float: left;
    width: 190px;
    margin-left: 20px;
}

#fb_like_btn {
    margin-left: -20px;
    margin-top: 50px;
    border: none;
    overflow: hidden;
    width: 190px;
    height: 330px;
}

.search_in {
    font-weight: bold;
}

#searching {
    width: 755 px;
}

.server {
    margin-left: 16px;
    text-indent: -8px;
}

.resultCount {
    font-size: 0.9em;
    color: #999;
}

p + p {
    margin-top: -1.5em;
}

/******** list **********/
.center_list {
    margin-right: 0;
    float: left;
    width: 755 px;
    /*    margin-top: 1em;*/
}

.center_list div.cover {
    float: left;
    margin-right: 10px;
    margin-bottom: 1.5em;
    width: 75px;
}

img.thumb {
    margin-top: 3px;
    width: 75px;
    height: 112px;
    border: 1px solid #EEE;
}

a img {
    border: none;
}

.center_list div.content {
    float: left;
    margin-right: 10px;
    padding-left: 40px;
    width: 470px;
}

.title {
    line-height: 1;
	color: #cc7204;
}

.center_list .title {
    font-size: 1.5em;
}

p.meta_tag {
	display: none;
    color: #4D4D4D;
}

span.meta_data {
    color: #999;
}

div.right_panel {
    margin-right: 0;
    float: left;
    text-align: center;
    margin-bottom: 1.5em;
    padding-left: 40px;
    width: 110px;
    padding-right: 0;
}

.download_header {
    margin-bottom: 1.0em;
    color: #4D4D4D;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.25;
}

hr.split {
    background: white;
    color: #999;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pagination {
    width: 990px;
    margin: 0 auto;
    text-align: center;
    float: left;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.result_msg {
    font-weight: bold;
}

.pagination a, .pagination a:visited {
    padding: .2em .5em;
    border: 1px solid #EEE;
    text-decoration: none;
    color: #406EA1;
}

.pagination a:hover, .pagination a:active {
    border: 1px solid #406EA1;
    color: black;
}

.pagination .current {
    padding: .2em .5em;
    margin-right: .1em;
    color: #406EA1;
}

.pagination .disabled {
    padding: .2em .5em;
    margin-right: .1em;
    border: 1px solid #EEE;
    color: #929292;
}


.book_info {
    margin-right: 0;
    float: left;
    width: 755 px;
    /*    margin-top: 1em;*/
}

.book_info div.content {
    float: left;
    margin-right: 10px;
    padding-left: 10px;
    width: 470px;
}

.book_info div.cover {
    float: left;
    margin-right: 10px;
    margin-bottom: 1.5em;
    width: 150px;
}

.book_info img.cover {
    width: 150px;
    height: 240px;
    border: 1px solid #EEE;
}

.book_info .title {
    font-size: 2.1em;
}

#feedback a{ 
	display:block; 
	position:fixed; 
	top:200px; 
	right:-1px; 
	background:green; 
	padding:7px 5px;
	border:1px solid #030;
	border-left-color:#060;
	border-top-color:#090;
}
#feedback a:hover{
	background:#030;border:1px solid #030;
}