a {
	color:#406EA1;
	text-decoration:none;
}

a.selected {
	font-style:italic;
	text-decoration:underline;
	color:#999999;
}

p {
	margin:0px 0px 1.5em 0px;
}


.container {
	width:990px;
	margin:1em auto 0px auto;
}

/*p + p {
	margin-top:-1.5em;
}
*/
div.content {
	float:left;
	margin-right:10px;
	padding-left:40px;
	width:470px;
}

p.meta_tag {
	color:#4D4D4D;
}

span.meta_data {
	color:#999999;
}

div.right_panel {
	margin-right:0;
	float:left;
	text-align:center;
	margin-bottom:1.5em;
	padding-left:40px;
	width:110px;
	padding-right:0;
}

.download_header {
	margin-bottom:1em;
	color:#4D4D4D;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.25;
}

hr.split {
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	color:#999999;
	margin-bottom:0;
	margin-top:0;
}

ul#format {
	list-style-type:none;
	margin:0;
	padding:0;
}

li.format {
	float:left;
	padding-left:12px;
}

#feedback a:hover {
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#003300;
	border:1px solid #003300;
}

