#searchText {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #646464 #969696 #969696;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #969696;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    height: 24px;
    padding: 3px 6px;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
    width: 100%;
}


.search_btn {

	font-size: 17px;
}
