.ac-renderer{
    position:absolute;
    background-color:#fff;
    cursor:pointer;
    border:1px solid black;
    font-size:13px;
    line-height:1.3em;
    overflow:hidden;
    white-space:nowrap;
    z-index:1000
}
.gb-reset .ac-renderer{
    font-size:100%
}
.ac-active{
    background-color:#36c;
    color:white
}
.ac-row{
    padding:2px 3px
}
.coverthumb{
    background-color:#fff;
    border:1px solid #20c;
    margin-top:1px
}
.coverdstd{
    padding:8px 8px 0 18px;
    text-align:center;
    vertical-align:top
}
.sa{
    text-align:left
}
.clearl{
    clear:left
}
#gbar{
    padding-left:8px!important
}
a.gb2,a.gb2:visited{
    text-decoration:none
}
#results_bar{
    padding:4px 0
}
#results_bar td{
    white-space:nowrap;
    padding:0 8px;
    font-size:83%
}
#results_bar .propertyname{
    font-weight:bold
}
.scontentarea{
    overflow:auto
}
#main_content{
    vertical-align:top
}
.resultspacer{
    line-height:10px
}
* html .scontentarea{
    float:left
}
#rhswrapper{
    float:right;
    margin-right:8px
}
#rhssection{
    margin:0 0 15px;
    border-left:10px solid #fff
}
#rhssection td{
    padding-left:10px;
    border-left:1px solid #c9d7f1
}
#rhssection h3{
    font-size:1.2em;
    font-weight:normal;
    margin:0;
    padding:0
}
.refinementsblocks{
    margin:1.2em 0 .85em;
    clear:both;
    font-size:83%
}
.refinementsblock{
    margin:1em 0 .1em .5em;
    max-width:692px
}
.refineheading{
    font-size:1.2em;
    padding-top:0
}
.refinementscontainer{
    margin-top:5px
}
.refinementwrapper{
    width:230px;
    float:left
}
.daterefinementwrapper{
    width:115px;
    float:left
}
.authorrefinements div{
    margin-right:25px;
    display:inline;
    white-space:nowrap
}
.refinement{
    text-indent:-10px;
    padding:2px 10px
}
div.res_ann{
    display:inline
}
.res_ann a:link,.res_ann a:visited,.res_ann a:active,.res_ann span{
    color:#77c
}
.morelesslink{
    color:#20c;
    cursor:pointer;
    text-decoration:underline;
    clear:both;
    margin-top:.3em
}
div#button_wrapper{
    padding-top:5px
}
div#button_wrapper a{
    display:block
}
div#accessbtntop{
    text-align:right;
    background:url(/googlebooks/nb_tleft.gif) no-repeat
}
div#accessbtncen{
    color:black;
    text-decoration:none;
    font-size:.9em;
    font-weight:bolder;
    background:url(/googlebooks/nb_mid.gif) repeat-x 50% bottom;
    text-align:center;
    padding:1px 4px;
    border-style:solid;
    border-width:0 1px;
    border-color:#5e7e9e;
    white-space:nowrap
}
span#access{
    padding-left:.4em
}
div#accessbtnbot{
    text-align:right;
    background:url(/googlebooks/nb_bleft.gif) no-repeat
}
.label-input-label{
    color:#999
}
#gb-top-search-box{
    margin:24px 4px 3px
}
body,td,a,p,.h{
    font-family:arial,sans-serif
}
body{
    background-color:#fff;
    color:#000;
    margin-top:3px
}
a:link,.q{
    color:#20c
}
a:visited{
    color:#551a8b
}
a:active{
    color:#f00
}
label{
    cursor:pointer
}
.h{
    font-size:20px;
    color:#1d46a6
}
#gbar .gbard b{
    padding:.2em .5em
}
#hpq{
    font-size:17px
}
#hpq-submit{
    font-size:15px;
    height:1.85em
}
.hpm_title{
    background-color:#f0f7f9;
    border-top:1px solid #6b90da;
    padding:.1em .3em;
    font-weight:bold
}
.hpm_content{
    height:230px;
    overflow:hidden;
    font-size:83%;
    margin:-10px 0 15px 10px
}
.sidebar{
    float:left;
    border-right:1px solid #9ae;
    font-size:83%;
    padding:15px;
    margin-right:.5em;
    width:140px
}
.sidebar p{
    text-indent:-7px;
    margin:0 0 0 14px;
    padding:0
}
.sidebar a,.sidebar a:hover,.sidebar a:visited,.sidebar:active{
    color:#20c
}
.sub_cat_title{
    font-weight:bold
}
.sub_cat_section{
    margin-bottom:2em
}
.featured_subject{
    float:left;
    font-size:10pt
}
.subject_list a{
    float:left;
    width:178 px
}
hr{
    float:left
}
#hp_table{
    width:900px;
    margin-top:1em
}
.hpm_title{
    font-size:83%
}
.sidebar{
    padding:0 10px 0 5px;
    border-right:0
}
.sub_cat_title{
    background-color:#f0f7f9;
    margin-bottom:.4em;
    border-top:1px solid #6b90da;
    font-weight:bold
}
.hpm_title,.sub_cat_title{
    padding:.15em .3em .2em .5em
}
.sub_cat_section p{
    margin-bottom:2px
}
#hp_table,#hp_header,.announcement,#top_search_box{
    margin-left:auto;
    margin-right:auto
}
#slider_container,.hp_header{
    display:none
}
body{
    text-align:center
}
.ac-renderer,#hp_table{
    text-align:left
}
.main_search_box{
    font-size:17px;
    margin-right:8px
}
.main_search_submit{
    font-size:15px;
    margin-right:8px;
    height:1.85em
}
.announcement{
    font-size:83%;
    width:900px;
    text-align:center;
    display:block
}

